.App {
  font-family: sans-serif;
}

.hud {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100vmin;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vmin;
  height: calc(100vh - 4em);
  grid-gap: 2em;
  margin: 0 auto;
}

.square {
  background-color: red;
}
